<% include ../includes/header %>

<div class="container">
	<div class="row">
		<div class="jumbotron">
			<p style="text-align:center;">
				<h1>cpanel</h1>
				<h2>discover the flag</h2>
			</p>
		</div>
	</div>
</div>

<% include ../includes/footer %>